{% extends "layouts/base.html" %}

{% block body %}
    <div class="jumbotron">
        <h1>Flask To-Do App</h1>
        <p class="lead">A simple yet effective productivity solution.</p>
        {% if session.logged_in %}
        <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
        {% else %}
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-info" href="/register">Sign Up</a>
        {% endif %}
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <h2><i class="fa fa-code fa-4x" aria-hidden="true"></i></h2>
            <h3><a href="http://www.python.org" class="btn btn-primary btn-lg" target="_blank">Python</a></h3>
            <p>This app is written in Python, the widely used high-level programming language for general-purpose programming.</p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-flask fa-4x" aria-hidden="true"></i></h2>
            <h3><a href="http://flask.pocoo.org/docs/0.12/" target="_blank" class="btn btn-info  btn-lg">Flask</a></h3>
            <p>Flask, a micro-framework for Web Development in Python, powers the application's backend.</p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-database fa-4x" aria-hidden="true"></i></h2>
            <h3><a href="https://www.mysql.com/" target="_blank" class="btn btn-danger btn-lg">MySQL</a></h3>
            <p>The data is stored and secured by MySQL, an open-source database that is one of the most popular for web-based systems.</p>
        </div>
    </div>
{% endblock %}
