{% extends "layouts/base.html" %}

{% block body %}
    <div class="jumbotron">
        <h1>Flask To-Do App</h1>
        <p class="lead">A simple yet effective productivity solution.</p>
        {% if session.logged_in %}
        <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
        {% else %}
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-info" href="/register">Sign Up</a>
        {% endif %}
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <h2><i class="fa fa-code fa-4x" aria-hidden="true"></i></h2>
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, animi, veritatis harum atque eaque earum eveniet, obcaecati quas odit itaque aliquid tempore vero aut. Quisquam modi quaerat libero iste delectus!</p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-flask fa-4x" aria-hidden="true"></i></h2>
            <h3>Flask</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, animi, veritatis harum atque eaque earum eveniet, obcaecati quas odit itaque aliquid tempore vero aut. Quisquam modi quaerat libero iste delectus!</p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-database fa-4x" aria-hidden="true"></i></h2>
            <h3>MySQL</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, animi, veritatis harum atque eaque earum eveniet, obcaecati quas odit itaque aliquid tempore vero aut. Quisquam modi quaerat libero iste delectus!</p>
        </div>
    </div>
{% endblock %}
